{% extends 'App1/base.html' %}

{% load static %}

{% block title %} Resumen Financiero {% endblock title %}

{% block main %}
    <h2>Resumen Financiero</h2>
    <p>Total Ingresos: ${{ total_ingresos }}</p>
    <p>Total Gastos: ${{ total_gastos }}</p>
    <p>Saldo Restante: ${{ saldo_restante }}</p>
    <div>
        <h3>Gastos por Categoría</h3>
        <ul>
            {% for categoria, monto in gastos_por_categoria.items %}
                <li>{{ categoria }}: ${{ monto }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock main %}
